*~
/*-[0-9][0-9].xml
archive.json
draft-kerwin-http2-encoded-data.xml
draft-kerwin-http2-nak-frame.xml
draft-kerwin-http2-segments.xml
draft-kerwin-rfc8089-bis-core.xml
draft-kerwin-rfc8089-bis-info.xml
Gemfile.lock
/.gems/
*.html
/.idea/
/lib
/lib/
/.*.mk
/node_modules/
package-lock.json
*.pdf
*.redxml
**/.refcache
/.refcache
report.xml
*.swp
.tags
*.txt
*.upload
/.venv/
/versioned/
/.vscode/
!requirements.txt
